fastapi
uvicorn
langchain
langchain-openai
langchain-google-genai
langchain-community
langgraph
supabase
pydantic
pydantic-settings
python-dotenv
celery
redis
pandas
python-multipart
httpx
cerebras_cloud_sdk
langchain-groq
langchain-cerebras
